<!DOCTYPE html>
<html>
<head>
  <title>Registration Success</title>
</head>
<body>
<h2>Личный кабинет</h2>
<ul>
  <li><a href = '/addGroup'>Добавить группу</a></li>
</ul>
<ul>
  <li><a href = '/studentForm'>Добавить студента</a></li>
</ul>
<ul>
  <li><a href = '/findStudent'>Добавить успеваемость</a></li>
</ul>
<ul>
  <li><a href = '/getStudents'>Показать всех студентов</a></li>
</ul>
<ul>
  <li><a href = '/studentListForUpdateStudent'>Обновить студента</a></li>
</ul>
<ul>
  <li><a href = '/studentListForUpdate'>Обновить успеваемость</a></li>
</ul>
<ul>
  <li><a href = '/deleteStudentList'>Удалить студента</a></li>
</ul>

<ul>
  <li><a href = '/logout'>Logout</a></li>
</ul>
</body>
</html>